@page
@using PcClinicTicketingRazorUi.Models
@model PcClinicTicketingRazorUi.Pages.RepairLogs.GetRepairLogsByTicketId
@{
}

<h3>Repair logs for ticket</h3>
<table>
    <thead>
        <tr>
            <th>Repair log Id</th>
            <th>Technician Id</th>
            <th>Log type</th>
            <th>Log time</th>
            <th>Log notes</th>
            <th><a asp-page="/RepairLogs/CreateRepairLog">Add repair log</a></th>
        </tr>
    </thead>
    @foreach (RepairLog repairLog in Model.repairLogs)
    {

        <tbody>
            <tr>
                <td>@repairLog.RepairLogId</td>
                <td>@repairLog.UserId</td>
                <td>@repairLog.LogType</td>
                <td>@repairLog.LogTime</td>
                <td>@repairLog.LogNotes</td>
                <td></td>
            </tr>
        </tbody>
    }
</table>