@page
@using PcClinicTicketingRazorUi.Models
@model PcClinicTicketingRazorUi.Pages.RepairLogs.GetRepairLogsByTechId
@{
}

<h3>Repair logs by technician</h3>
Click Ticket Id for ticket's repair logs
<table>
    <thead>
        <tr>
            <th>Ticket Id</th>
            <th>Repair log Id</th>
            <th>Log type</th>
            <th>Log time</th>
            <th>Log notes</th>
        </tr>
    </thead>
    @foreach (RepairLog repairLog in Model.repairLogs)
    {

        <tbody>
            <tr>
                <td><a asp-page="/RepairLogs/GetRepairLogsByTicketId" asp-route-id="@repairLog.TicketId">@repairLog.TicketId</a></td>
                <td>@repairLog.RepairLogId</td>
                <td>@repairLog.LogType</td>
                <td>@repairLog.LogTime</td>
                <td>@repairLog.LogNotes</td>
            </tr>
        </tbody>
    }
</table>