@page
@model PcClinicTicketingRazorUi.Pages.Users.GetTechnicians
@{
}

<h3>Technician List</h3>
<h3>This section is for administrators only...</h3>
 Authentication doesn't work with the application's SQLite database so please don't look here if you're not supposed to :^)
 <br />This is not an oversight, it is a limitation because we were asked to use SQLite for the application's database.
<table>
    <thead>
        <tr>
            <th>User Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Phone</th>
            <th>Email</th>
            <th></th>
            <th><a asp-page="/Users/CreateTechnician">Add technician</a></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.users)
        {
            @if (!(user.UserType == Models.User.UserTypes.Customer))
            {
                <tr>
                    <td>@user.UserId</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Phone</td>
                    <td>@user.Email</td>
                    <td><a asp-page="/RepairLogs/GetRepairLogsByTechId" asp-route-id="@user.UserId">View technician's logs</a></td>
                    <td><a asp-page="/Users/EditUser" asp-route-id="@user.UserId">Edit technician</a></td>
                </tr>
            }
        }
    </tbody>
</table>