@page
@model PcClinicTicketingRazorUi.Pages.Users.GetTechnicians
@{
}

<h3>Technicians</h3>
<table>
    <thead>
        <tr>
            <th>User Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Phone</th>
            <th>Email</th>
            <th><a asp-page="/Users/CreateTechnician">Add technician</a></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.users)
        {
            @if (user.UserType == Models.User.UserTypes.Technician)
            {
                <tr>
                    <td><a asp-page="/Users/GetUserById" asp-route-id="@user.UserId">@user.UserId</a></td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Phone</td>
                    <td>@user.Email</td>
                    <td><a asp-page="/Users/EditUser" asp-route-id="@user.UserId">Edit technician</a></td>
                </tr>
            }
        }
    </tbody>
</table>