@page
@using PcClinicTicketingRazorUi.Models
@model PcClinicTicketingRazorUi.Pages.Users.GetUserById
@{
}

<h3>Customer account number @Model.user.UserId</h3>
<table>
    <thead>
        <tr>
            <th>User Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a asp-page="/Devices/GetDevicesByUserId" asp-route-id="@Model.user.UserId">@Model.user.UserId</a></td>
            <td>@Model.user.FirstName</td>
            <td>@Model.user.LastName</td>
            <td>@Model.user.Phone</td>
            <td>@Model.user.Email</td>
            <td>@Model.user.Address</td>
            <td>@Model.user.City</td>
            <td>@Model.user.State</td>
            <td><a asp-page="/Users/EditUser" asp-route-id="@Model.user.UserId">Edit customer</a></td>
        </tr>
    </tbody>
</table>