@page
@model PcClinicTicketingRazorUi.Pages.Users.UsersIndex
@{
}

<table>
    <thead>
        <tr>
            <th>
                User Id
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.users)
        {
            <tr>
                <td><a asp-page="/Users/GetUserById" asp-route-id="@user.UserId">@user.UserId</a></td>
            </tr>
            <tr>
                <td>@user.FirstName</td>
            </tr>
            <tr>
                <td>@user.LastName</td>
            </tr>
            <tr>
                <td>@user.Phone</td>
            </tr>
            <tr>
                <td>@user.Email</td>
            </tr>
            <tr>
                <td>@user.Address</td>
            </tr>
            <tr>
                <td>@user.City</td>
            </tr>
            <tr>
                <td>@user.State</td>
            </tr>
            <tr>
                <td><a asp-page="/Users/EditUser" asp-route-id="@user.UserId">Edit</a></td>
            </tr>
        }
    </tbody>
</table>
