@page
@model PcClinicTicketingRazorUi.Pages.Users.Index
@{
}

<h3>Customer List</h3>
Click User Id for detailed information
<p></p>
<table class="table table-hover">
    <thead class="table table-info">
        <tr>
            <th>User Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th><a asp-page="/Users/CreateCustomer">Add customer</a></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.users)
        {
            @if (user.UserType == Models.User.UserTypes.Customer)
            {
                <tr>
                    <td><a asp-page="/Users/GetUserById" asp-route-id="@user.UserId">@user.UserId</a></td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Phone</td>
                    <td>@user.Email</td>
                    <td>@user.Address</td>
                    <td>@user.City</td>
                    <td>@user.State</td>
                    <td><a asp-page="/Users/EditUser" asp-route-id="@user.UserId">Edit customer</a></td>
                </tr>
            }
        }
    </tbody>
</table>
