@using PcClinicApi.Models
@using System.Text.Json
@using System.Text.Json.Serialization
@inject IHttpClientFactory HttpClientFactory
@rendermode InteractiveServer

@code{/*Cannot get this to work to save my life. no idea what issue is. have tried everything.*/}

<h3>Get customer by phone number</h3>

<input @bind="phone" @bind:event="oninput"/>
<button @onclick=StateHasChanged>Submit</button>

<table>
    <thead>
        <tr>
            <th>UserId</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>UserType</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>@customer.UserId</td>
                <td>@customer.FirstName</td>
                <td>@customer.LastName</td>
                <td>@customer.Phone</td>
                <td>@customer.Email</td>
                <td>@customer.Address</td>
                <td>@customer.City</td>
                <td>@customer.State</td>
                <td>@customer.UserType</td>
            </tr>
    </tbody>
</table>

@code {
    //temporarily hard-coded
    public string phone { get; set; } = "1029384756";


    public User customer = new();

    protected async Task OnParameterSetAsync() 
    {
        var request = new HttpRequestMessage(HttpMethod.Get, $"https://localhost:7224/GetCustomerByPhone/{phone}");

        var client = HttpClientFactory.CreateClient();

        var response = await client.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {
            customer = await client.GetFromJsonAsync<User>($"https://localhost:7224/GetCustomerByPhone/{phone}");
        }
    }
}
