@page
@model PcClinicTicketingRazorUi.Pages.Devices.EditDevice
@{
}

<form method="post">
    <div class="form-group">
        @Html.HiddenFor(x => x.device.DeviceId)
        @Html.HiddenFor(x => x.device.UserId)

        @foreach (var x in System.Enum.GetValues(
        typeof(Models.Device.DeviceTypes)))
        {
            <label>
                @(Html.RadioButtonFor<Models.Device.DeviceTypes>
                    (y => y.@device.DeviceType, (EditDevice.DeviceTypes)x, null)) @x
            </label>
        }
        <span asp-validation-for="@Model.device.DeviceType" class="text-danger"></span>

        <p></p>
        <label asp-for="@Model.device.ModelNumber"></label>
        <input asp-for="@Model.device.ModelNumber" class="form-control" />
        <span asp-validation-for="@Model.device.ModelNumber" class="text-danger"></span>

        <label asp-for="@Model.device.SerialNumber"></label>
        <input asp-for="@Model.device.SerialNumber" class="form-control" />
        <span asp-validation-for="@Model.device.SerialNumber" class="text-danger"></span>

        <label asp-for="@Model.device.DevicePassword"></label>
        <input asp-for="@Model.device.DevicePassword" class="form-control" />
        <span asp-validation-for="@Model.device.DevicePassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Edit device</button>
</form>